# Core
setuptools
wheel

# Install torch FIRST
torch==2.1.0
torchvision==0.16.0

# Then dependencies
cython
pyyaml
tqdm
cloudpickle
Pillow
opencv-python-headless

# API
flask
gunicorn
gdown

# Detectron2 LAST
git+https://github.com/facebookresearch/detectron2.git
